.card{
    form{
        input{
            margin-bottom: 10px;
        }
    }
    margin-bottom: 20px;
}
#mail{
    width: 20%;
}
#mensaje{
    width: 20%;
    margin-top: 10%;
}
strong{
    color:lightblue
}